@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
	primary-btn: bg-amber-400 hover:bg-amber-500
	heading-font: font-archivo
	primary-font: font-inter
 */

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', 'sans-serif';
}

.light body {
	background: #FFF6ED;
}

.dark body {
	color: #fff;
	background: #0D2438;
}

.tooltip {
	color: #0D2438;
}

footer {
	background: #0D2438;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* Spinner */
.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  color: #fbbf24;
  display: inline-block;
  position: relative;
  width: 55px;
  height: 55px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: #fbbf24;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
 
/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* Scroll to top style */
.scrollToTop {
	@apply bg-indigo-600;
	@apply text-white;
	position: fixed;
	width: 100%;
	align-items: center;
	height: 20px;
	justify-content: center;
	z-index: 999;
	cursor: pointer;
	animation: fadeIn 0.3s;
	transition: opacity 0.4s;
	opacity: 1;
}

.scrollToTop:hover {
	opacity: 1;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}

/* Image Card */
.fade-in-image { 
	animation: fadeIn 1s; 
}

/* Carousel */
.carouselContainer {
	width: 1245px;
	height: auto;
	display: flex;
	justify-content: center;
	padding: 0px;
}
.carouselArea > .carouselPosts {
	position: relative;
	transition: 0.5s;
}
.carouselPostBox {
	box-sizing: border-box;
}
.carouselPostBox > .cover {
	width: 100%;
	height: 100%;
	transition: 0.5s 0s;
	background-position: center, center;
	background-size: cover;
}
.carouselPostBox > .cover:hover {
	transform: scale(1.1);
}
.controlLeft, .controlRight {
	transition: 0.5s 0s;
	transform: translateY(-50%);
}
.cardBox .imageStyle {
	transition: 0.5s 0s;
}
.cardBox .fontBox {
	width: calc(100% - 100px - 5px);
}

/* Tooltip */
  [tooltip]{
	position:relative;
	display:inline-block;
  }
  [tooltip]::before {
	  content: "";
	  position: absolute;
	  top:-6px;
	  left:50%;
	  transform: translateX(-50%);
	  border-width: 4px 6px 0 6px;
	  border-style: solid;
	  border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
	  z-index: 99;
	  opacity:0;
  }
  
  [tooltip-position='buttom']::before{
	top: 80%;
	margin-top:8px;
	transform: translateX(-50%) translatey(-100%) rotate(-180deg)
  }
  
  [tooltip]::after {
	  content: attr(tooltip);
	  position: absolute;
	  left:25%;
	  top:-6px;
	  transform: translateX(-50%)   translateY(-100%);
	  background: rgba(0,0,0,0.85);
	  text-align: center;
	  color: #fff;
	  width: 163%;
	  padding:4px 2px;
	  font-size: 14px;
	  min-width: 80px;
	  border-radius: 5px;
	  pointer-events: none;
	  padding: 4px 4px;
	  z-index:99;
	  opacity:0;
  }
  [tooltip-position='buttom']::after{
	top: 80%;
	margin-top:8px;
	transform: translateX(-50%) translateY(0%);
  }
  
  [tooltip]:hover::after,
  [tooltip]:hover::before {
	 opacity:1
  }

/* Media Queries */
@media screen and (max-width: 1280px) {
	.controlRight {
		right: 27rem;
	}
	.controlLeft {
		left: 27rem;
	}
	.controlRight, .controlLeft {
		top: 20rem;
	}
  }

  /* MD */
  @media (min-width: 768px) and (max-width: 1023px) {
	.carouselContainer {
		max-width: 650px;
	}
	.contentBox {
		width: 302px;
	}
	.controlRight, .controlLeft {
		top: 29rem;
	}
	.controlLeft {
		left: 16rem;
	}
	.controlRight {
		right: 16rem;
	}
	
	[tooltip-position='buttom']::before, 
	[tooltip-position='buttom']::after{
		top: 24%;
	}

	[tooltip-position='buttom']::after{
		/* font-size: 12px; */
		width: 122%;
		left: 50%;
	}
}
/* SM */
@media screen and (max-width: 768px) {
	.carouselContainer {
		max-width: 525px;
	}
	.contentBox {
		width: 500px;
		height: 340px;
	}
	.controlRight, .controlLeft {
		top: 28rem;
	}
	.controlRight {
		right: 13rem;
	}
	.controlLeft {
		left: 13rem;
	}

	[tooltip-position='buttom']::before, 
	[tooltip-position='buttom']::after{
		/* top:30%; */
	}

	[tooltip-position='buttom']::after{
		/* font-size: 12px; */
		width: 100%;
		left: 50%;
	}
  }
/* XS */
@media screen and (max-width: 550px) {
	.carouselContainer {
		max-width: 375px;
	}
	.contentBox {
		width: 350px;
		height: 360px;
	}
	.controlRight, .controlLeft {
		top: 26rem;
	}
	.controlRight {
		right: 8rem;
	}
	.controlLeft {
		left: 8rem;
	}
  }